/* Site settings */
body {background-color:#ffffff;margin:0px;font-family:Arial,sans-serif;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;text-rendering:optimizeLegibility;font-feature-settings:'kern', 'liga' 0, 'clig' 0, 'calt' 0;color:#000000;letter-spacing:0em;-webkit-print-color-adjust:exact;}
a {text-decoration:underline;}
a:link {color:#C24C4C; cursor:pointer;}
a:visited {color:#5A5F67;}
a:hover {color:#25383C;}
a * {color:#C24C4C;text-decoration:underline;}
sup {font-size:0.5em; vertical-align: 0.66em;}
sub {font-size:0.5em; vertical-align: -0.1em;}
.xr_tl {position: absolute; white-space: pre; unicode-bidi:bidi-override;}
.xr_tr {position: absolute; white-space: pre; unicode-bidi:bidi-override; text-align:right;}
.xr_tc {position: absolute; white-space: pre; unicode-bidi:bidi-override; text-align:center;}
.xr_tj {position: absolute; unicode-bidi:bidi-override; text-align:justify;}
.xr_tb {position: absolute; unicode-bidi:bidi-override;}
.xr_e1 {display: inline-block; border:none; white-space:normal;}
.xr_e2 {position: absolute; display: block; border:none;}
.xr_ap {position: absolute; border:none;}
.xr_ar {position: absolute; display:block;}
.xr_ae {position: relative; border:none;}
.xr_strb {z-index: 1;}
.xr_strb .mxs-arrow, .xr_strb .mxs-navigation {visibility: hidden;}
.xr_strf {z-index: 3;}
.xr_xrc, .xr_xri_, .xr_sxri, .xr_xpos {z-index: 2;}
.xr_ro, .xr_rd, .xr_rs {z-index: 3;}
.xr_tu {unicode-bidi:bidi-override;margin-top:0px;margin-bottom:0px;}

.xr_tt0 {transition: all 0s;}
.xr_tt1 {transition: all 0.1s; transition-timing-function: ease-in;}
.xr_tt2 {transition: all 0.25s; transition-timing-function: ease-in;}
.xr_tt3 {transition: all 0.5s; transition-timing-function: ease-in;}
.xr_tt4 {transition: all 1s; transition-timing-function: ease-in;}
.xr_tt5 {transition: all 2s; transition-timing-function: ease-in;}
a:hover .xr_ro, a:active .xr_rd, .xr_nb0:hover .xr_ro{visibility:visible;opacity: 1;transform: none;}

a:active .xr_ro {opacity:0;}
.xr_ro, .xr_rd {visibility:hidden;opacity:0;}
.xr_ro0, .xr_rd0, a:active .xr_ro0 {opacity:0;}
.xr_ro1, .xr_rd1, a:active .xr_ro1 {transform:translate3d(0,-20%,0);}
.xr_ro2, .xr_rd2, a:active .xr_ro2 {transform:translate3d(20%,0,0);}
.xr_ro3, .xr_rd3, a:active .xr_ro3 {transform-origin:top; transform:scale3d(1,0.3,1);}
.xr_ro4, .xr_rd4, a:active .xr_ro4 {transform-origin:left; transform:scale3d(0.3,1,1);}
.xr_ro5, .xr_rd5, a:active .xr_ro5 {transform:rotate3d(1,0,0,180deg); -ms-transform: rotateX(180deg);}
.xr_ro6, .xr_rd6, a:active .xr_ro6 {transform:rotate3d(0,1,0,180deg); -ms-transform: rotateY(180deg);}
.xr_ro7, .xr_rd7, a:active .xr_ro7 {transform:rotate3d(0,0,1,180deg);}
.xr_ro8, .xr_rd8, a:active .xr_ro8 {transform:scale3d(0.3,0.3,1);}
.xr_ro9, .xr_rd9, a:active .xr_ro9 {transform:skew(-30deg,0) translate3d(10%,0,0);}
.xr_ro10, .xr_rd10, a:active .xr_ro10 {transform-origin:50% 500%; transform:rotate3d(0,0,1,10deg);}
.xr_ro11, .xr_rd11, a:active .xr_ro11 {transform:translate3d(0,-50%,0) scale3d(0.3,0.3,1);}
.xr_ro12, .xr_rd12, a:active .xr_ro12 {transform:translate3d(0,20%,0);}
.xr_ro13, .xr_rd13, a:active .xr_ro13 {transform:translate3d(-20%,0,0);}
.xr_stickie {z-index: 90;}
.xr_nb0 {touch-action: none;}
.xr_nb0:hover > .xr_nb2, .xr_nb1:hover > .xr_nb2 {visibility: visible; opacity: 1 !important; transform: none !important;}
.xr_nb2 {white-space: nowrap; padding:0px; margin:0px; visibility: hidden; position: absolute; z-index:101;}
.xr_nb2 li {display:block;}
.xr_nb2 li a {display:block; text-decoration:none;}
.xr_nb4 {display:block; padding:0px; margin:0px;}
.xr_nb6 {width:100%; height:2px;}
.xr_nb1 {position: relative;}
.xr_nb1:after {content: ''; position: absolute; top: 50%; right: .5em; height: 0px; width: 0px; border: 5px solid transparent; margin-top: -5px; margin-right: -3px; border-color: transparent; border-left-color: inherit;}
body {text-align:center;}
@media screen, handheld {
.xr_app {position: absolute;}
.xr_apb {display:block; position:absolute;}
.xr_pnav {position:absolute; display:block; text-align:left; background-image:url('03.png'); background-attachment:scroll; top:8px; width:16px; height:16px;}
.xr_pnav:hover {background-image:url('04.png');}
.xr_pnavmenu {font-family:'Arial';font-size:12pt;color:#5d99d3;text-decoration:none;}
.xr_pnavmenu:link {color:#cccccc;}
.xr_pnavmenu:visited {color:#cccccc;}
.xr_pnavmenu:hover {color:#83b1e0;}
#xr_pnava {position: fixed; display: block; left: 0px; bottom: 0px; height: 24px; width: 120px; z-index:1100; background-image: url('0.gif');}
#xr_pnavh {position: fixed; display: block; left: 4px; bottom: -40px; height: 36px; width: 116px; background-color: #222222; border-radius: 8px; z-index:1200; visibility:hidden;transition: bottom 0.2s, visibility 0.2s;-moz-transition: bottom 0.2s, visibility 0.2s;-webkit-transition: bottom 0.2s, visibility 0.2s;-o-transition: bottom 0.2s, visibility 0.2s; box-shadow: 4px 4px 4px #000;opacity: 0.9;}
#xr_pnavm {position: fixed; display: block; left: 108px; bottom: 8px; overflow: auto; background-color: #222222; border-radius: 8px; padding: 16px; z-index:1100; visibility:hidden; opacity:0; transition: opacity 0.2s, visibility 0.2s;-moz-transition: opacity 0.2s, visibility 0.2s;-webkit-transition: opacity 0.2s, visibility 0.2s;-o-transition: opacity 0.2s, visibility 0.2s; box-shadow: 4px 4px 4px #000; white-space: nowrap;}
#xr_pnava:hover #xr_pnavh {visibility:visible; bottom:4px;}
#xr_pnavm:hover {visibility:visible;}
#xr_pnavm:hover #xr_pnavp {visibility:visible;}
#xr_pnavp:hover #xr_pnavm {visibility:visible; opacity:0.9;}
#xr_palrt {position: fixed; display: block; left: 4px; bottom: -300px; width: 250px; color: white; padding: 4px; background-color: #222222; border-radius: 8px; z-index:100; visibility:hidden; transition: bottom 0.5s, visibility 0.5s;-moz-transition: bottom 0.5s, visibility 0.5s;-webkit-transition: bottom 0.5s, visibility 0.5s;-o-transition: bottom 0.5s, visibility 0.5s; box-shadow: 4px 4px 4px #000;opacity: 0.9;}
.xr_c_Theme_Color_2 {color:#C24C4C;}
.xr_c_Theme_Color_1 {color:#25383C;}
.xr_c_Theme_Color_3 {color:#5A5F67;}
.xr_c_Website_Backdrop {color:#F2F2F2;}
.xr_c_Website_Backdrop_2 {color:#25383C;}
.xr_c_Page_Background {color:#FFFFFF;}
.xr_c_Dark_Text {color:#363636;}
.xr_c_Light_Text {color:#FFFFFF;}
.xr_bgb0 {background:url('1.png') -768px 2380px repeat;}
#xr_nb1 {font-family:Arial; font-size:11px;}
#xr_nb1 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb1 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb1 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb1 .xr_nb6 {background-color:#000000;}
#xr_nb1 li {border-color:#000000;}
#xr_nb1 li:hover {border-color:#FFFFFF;}
#xr_nb1 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb1 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb1 {background:url('1.png') -768px 2455px repeat;}
#xr_nb5 {font-family:Arial; font-size:11px;}
#xr_nb5 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb5 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb5 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb5 .xr_nb6 {background-color:#000000;}
#xr_nb5 li {border-color:#000000;}
#xr_nb5 li:hover {border-color:#FFFFFF;}
#xr_nb5 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb5 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb2 {background:url('1.png') -768px 3180px repeat;}
#xr_nb9 {font-family:Arial; font-size:17px;}
#xr_nb9 li:hover > a {background-color:#C24C4C; color:#FFFFFF;}
#xr_nb9 li a {color:#FFFFFF; background-color:#25383C; padding:12px; padding-right:30px;}
#xr_nb9 li > div {background-color:#25383C; padding:12px;}
#xr_nb9 .xr_nb6 {background-color:#FFFFFF;}
#xr_nb9 li {border-color:#FFFFFF;}
#xr_nb9 li:hover {border-color:#FFFFFF;}
#xr_nb9 ul {border: solid 0px #5A5F67; background-color:#25383C;}
#xr_nb9 .xr_nb4 {opacity: 0.90;}
#xr_nb9 .xr_nb5 {border-color: rgba(90,95,103,0.90);}
#xr_nb9 .xr_nb2 {transition: visibility 300ms;}
#xr_nb11 {font-family:Arial; font-size:17px;}
#xr_nb11 li:hover > a {background-color:#C24C4C; color:#FFFFFF;}
#xr_nb11 li a {color:#FFFFFF; background-color:#25383C; padding:12px; padding-right:30px;}
#xr_nb11 li > div {background-color:#25383C; padding:12px;}
#xr_nb11 .xr_nb6 {background-color:#FFFFFF;}
#xr_nb11 li {border-color:#FFFFFF;}
#xr_nb11 li:hover {border-color:#FFFFFF;}
#xr_nb11 ul {border: solid 0px #5A5F67; background-color:#25383C;}
#xr_nb11 .xr_nb4 {opacity: 0.90;}
#xr_nb11 .xr_nb5 {border-color: rgba(90,95,103,0.90);}
#xr_nb11 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb3 {background:url('1.png') -768px 2514px repeat;}
#xr_nb17 {font-family:Arial; font-size:11px;}
#xr_nb17 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb17 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb17 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb17 .xr_nb6 {background-color:#000000;}
#xr_nb17 li {border-color:#000000;}
#xr_nb17 li:hover {border-color:#FFFFFF;}
#xr_nb17 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb17 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb4 {background:url('1.png') -768px 2727px repeat;}
#xr_nb21 {font-family:Arial; font-size:11px;}
#xr_nb21 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb21 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb21 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb21 .xr_nb6 {background-color:#000000;}
#xr_nb21 li {border-color:#000000;}
#xr_nb21 li:hover {border-color:#FFFFFF;}
#xr_nb21 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb21 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb5 {background:url('1.png') -768px 4281px repeat;}
#xr_nb25 {font-family:Arial; font-size:17px;}
#xr_nb25 li:hover > a {background-color:#C24C4C; color:#FFFFFF;}
#xr_nb25 li a {color:#FFFFFF; background-color:#25383C; padding:12px; padding-right:30px;}
#xr_nb25 li > div {background-color:#25383C; padding:12px;}
#xr_nb25 .xr_nb6 {background-color:#FFFFFF;}
#xr_nb25 li {border-color:#FFFFFF;}
#xr_nb25 li:hover {border-color:#FFFFFF;}
#xr_nb25 ul {border: solid 0px #5A5F67; background-color:#25383C;}
#xr_nb25 .xr_nb4 {opacity: 0.90;}
#xr_nb25 .xr_nb5 {border-color: rgba(90,95,103,0.90);}
#xr_nb25 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb6 {background:url('1.png') -768px 2161px repeat;}
#xr_nb29 {font-family:Arial; font-size:11px;}
#xr_nb29 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb29 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb29 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb29 .xr_nb6 {background-color:#000000;}
#xr_nb29 li {border-color:#000000;}
#xr_nb29 li:hover {border-color:#FFFFFF;}
#xr_nb29 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb29 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb7 {background:url('1.png') -768px 2111px repeat;}
#xr_nb33 {font-family:Arial; font-size:11px;}
#xr_nb33 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb33 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb33 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb33 .xr_nb6 {background-color:#000000;}
#xr_nb33 li {border-color:#000000;}
#xr_nb33 li:hover {border-color:#FFFFFF;}
#xr_nb33 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb33 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb8 {background:url('1.png') -768px 2453px repeat;}
#xr_nb37 {font-family:Arial; font-size:17px;}
#xr_nb37 li:hover > a {background-color:#C24C4C; color:#FFFFFF;}
#xr_nb37 li a {color:#FFFFFF; background-color:#25383C; padding:12px; padding-right:30px;}
#xr_nb37 li > div {background-color:#25383C; padding:12px;}
#xr_nb37 .xr_nb6 {background-color:#FFFFFF;}
#xr_nb37 li {border-color:#FFFFFF;}
#xr_nb37 li:hover {border-color:#FFFFFF;}
#xr_nb37 ul {border: solid 0px #5A5F67; background-color:#25383C;}
#xr_nb37 .xr_nb4 {opacity: 0.90;}
#xr_nb37 .xr_nb5 {border-color: rgba(90,95,103,0.90);}
#xr_nb37 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb9 {background:url('1.png') -768px 2585px repeat;}
#xr_nb41 {font-family:Arial; font-size:11px;}
#xr_nb41 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb41 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb41 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb41 .xr_nb6 {background-color:#000000;}
#xr_nb41 li {border-color:#000000;}
#xr_nb41 li:hover {border-color:#FFFFFF;}
#xr_nb41 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb41 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb10 {background:url('1.png') -768px 2374px repeat;}
#xr_nb45 {font-family:Arial; font-size:11px;}
#xr_nb45 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb45 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb45 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb45 .xr_nb6 {background-color:#000000;}
#xr_nb45 li {border-color:#000000;}
#xr_nb45 li:hover {border-color:#FFFFFF;}
#xr_nb45 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb45 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb11 {background:url('1.png') -768px 3731px repeat;}
#xr_nb49 {font-family:Arial; font-size:17px;}
#xr_nb49 li:hover > a {background-color:#C24C4C; color:#FFFFFF;}
#xr_nb49 li a {color:#FFFFFF; background-color:#25383C; padding:12px; padding-right:30px;}
#xr_nb49 li > div {background-color:#25383C; padding:12px;}
#xr_nb49 .xr_nb6 {background-color:#FFFFFF;}
#xr_nb49 li {border-color:#FFFFFF;}
#xr_nb49 li:hover {border-color:#FFFFFF;}
#xr_nb49 ul {border: solid 0px #5A5F67; background-color:#25383C;}
#xr_nb49 .xr_nb4 {opacity: 0.90;}
#xr_nb49 .xr_nb5 {border-color: rgba(90,95,103,0.90);}
#xr_nb49 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb12 {background:url('1.png') -768px 2902px repeat;}
#xr_nb53 {font-family:Arial; font-size:11px;}
#xr_nb53 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb53 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb53 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb53 .xr_nb6 {background-color:#000000;}
#xr_nb53 li {border-color:#000000;}
#xr_nb53 li:hover {border-color:#FFFFFF;}
#xr_nb53 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb53 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb13 {background:url('1.png') -768px 2969px repeat;}
#xr_nb57 {font-family:Arial; font-size:11px;}
#xr_nb57 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb57 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb57 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb57 .xr_nb6 {background-color:#000000;}
#xr_nb57 li {border-color:#000000;}
#xr_nb57 li:hover {border-color:#FFFFFF;}
#xr_nb57 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb57 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb14 {background:url('1.png') -768px 3731px repeat;}
#xr_nb61 {font-family:Arial; font-size:17px;}
#xr_nb61 li:hover > a {background-color:#C24C4C; color:#FFFFFF;}
#xr_nb61 li a {color:#FFFFFF; background-color:#25383C; padding:12px; padding-right:30px;}
#xr_nb61 li > div {background-color:#25383C; padding:12px;}
#xr_nb61 .xr_nb6 {background-color:#FFFFFF;}
#xr_nb61 li {border-color:#FFFFFF;}
#xr_nb61 li:hover {border-color:#FFFFFF;}
#xr_nb61 ul {border: solid 0px #5A5F67; background-color:#25383C;}
#xr_nb61 .xr_nb4 {opacity: 0.90;}
#xr_nb61 .xr_nb5 {border-color: rgba(90,95,103,0.90);}
#xr_nb61 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb15 {background:url('1.png') -768px 2891px repeat;}
#xr_nb65 {font-family:Arial; font-size:11px;}
#xr_nb65 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb65 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb65 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb65 .xr_nb6 {background-color:#000000;}
#xr_nb65 li {border-color:#000000;}
#xr_nb65 li:hover {border-color:#FFFFFF;}
#xr_nb65 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb65 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb16 {background:url('1.png') -768px 3268px repeat;}
#xr_nb69 {font-family:Arial; font-size:11px;}
#xr_nb69 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb69 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb69 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb69 .xr_nb6 {background-color:#000000;}
#xr_nb69 li {border-color:#000000;}
#xr_nb69 li:hover {border-color:#FFFFFF;}
#xr_nb69 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb69 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb17 {background:url('1.png') -768px 4714px repeat;}
#xr_nb73 {font-family:Arial; font-size:17px;}
#xr_nb73 li:hover > a {background-color:#C24C4C; color:#FFFFFF;}
#xr_nb73 li a {color:#FFFFFF; background-color:#25383C; padding:12px; padding-right:30px;}
#xr_nb73 li > div {background-color:#25383C; padding:12px;}
#xr_nb73 .xr_nb6 {background-color:#FFFFFF;}
#xr_nb73 li {border-color:#FFFFFF;}
#xr_nb73 li:hover {border-color:#FFFFFF;}
#xr_nb73 ul {border: solid 0px #5A5F67; background-color:#25383C;}
#xr_nb73 .xr_nb4 {opacity: 0.90;}
#xr_nb73 .xr_nb5 {border-color: rgba(90,95,103,0.90);}
#xr_nb73 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb18 {background:url('1.png') -768px 1986px repeat;}
#xr_nb77 {font-family:Arial; font-size:11px;}
#xr_nb77 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb77 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb77 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb77 .xr_nb6 {background-color:#000000;}
#xr_nb77 li {border-color:#000000;}
#xr_nb77 li:hover {border-color:#FFFFFF;}
#xr_nb77 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb77 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb19 {background:url('1.png') -768px 1948px repeat;}
#xr_nb81 {font-family:Arial; font-size:11px;}
#xr_nb81 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb81 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb81 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb81 .xr_nb6 {background-color:#000000;}
#xr_nb81 li {border-color:#000000;}
#xr_nb81 li:hover {border-color:#FFFFFF;}
#xr_nb81 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb81 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb20 {background:url('1.png') -768px 2164px repeat;}
#xr_nb85 {font-family:Arial; font-size:17px;}
#xr_nb85 li:hover > a {background-color:#C24C4C; color:#FFFFFF;}
#xr_nb85 li a {color:#FFFFFF; background-color:#25383C; padding:12px; padding-right:30px;}
#xr_nb85 li > div {background-color:#25383C; padding:12px;}
#xr_nb85 .xr_nb6 {background-color:#FFFFFF;}
#xr_nb85 li {border-color:#FFFFFF;}
#xr_nb85 li:hover {border-color:#FFFFFF;}
#xr_nb85 ul {border: solid 0px #5A5F67; background-color:#25383C;}
#xr_nb85 .xr_nb4 {opacity: 0.90;}
#xr_nb85 .xr_nb5 {border-color: rgba(90,95,103,0.90);}
#xr_nb85 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb21 {background:url('3440.png') -1248px 2103px repeat;}
#xr_nb89 {font-family:Arial; font-size:11px;}
#xr_nb89 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb89 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb89 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb89 .xr_nb6 {background-color:#000000;}
#xr_nb89 li {border-color:#000000;}
#xr_nb89 li:hover {border-color:#FFFFFF;}
#xr_nb89 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb89 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb22 {background:url('3440.png') -1408px 2205px repeat;}
#xr_nb93 {font-family:Arial; font-size:11px;}
#xr_nb93 li:hover > a {background-color:#666666; color:#FFFFFF;}
#xr_nb93 li a {color:#000000; background-color:#B2B2B2; padding:2px; padding-right:20px;}
#xr_nb93 li > div {background-color:#B2B2B2; padding:2px;}
#xr_nb93 .xr_nb6 {background-color:#000000;}
#xr_nb93 li {border-color:#000000;}
#xr_nb93 li:hover {border-color:#FFFFFF;}
#xr_nb93 ul {border: solid 0px #000000; background-color:#B2B2B2;}
#xr_nb93 .xr_nb2 {transition: visibility 300ms;}
.xr_bgb23 {background:url('1.png') -768px 2930px repeat;}
#xr_nb97 {font-family:Arial; font-size:17px;}
#xr_nb97 li:hover > a {background-color:#C24C4C; color:#FFFFFF;}
#xr_nb97 li a {color:#FFFFFF; background-color:#25383C; padding:12px; padding-right:30px;}
#xr_nb97 li > div {background-color:#25383C; padding:12px;}
#xr_nb97 .xr_nb6 {background-color:#FFFFFF;}
#xr_nb97 li {border-color:#FFFFFF;}
#xr_nb97 li:hover {border-color:#FFFFFF;}
#xr_nb97 ul {border: solid 0px #5A5F67; background-color:#25383C;}
#xr_nb97 .xr_nb4 {opacity: 0.90;}
#xr_nb97 .xr_nb5 {border-color: rgba(90,95,103,0.90);}
#xr_nb97 .xr_nb2 {transition: visibility 300ms;}
}
@media print {
 .xr_mvpo {display:none;}
 #xr_xrii{overflow:visible !important; position: relative !important;}
}
